@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root{
    --font1: 'Lexend', sans-serif;
}

.aside{
    /* position: fixed; */
    top: 70px;
    width: -webkit-fill-available;
    padding: 1em;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    /* top: 0px; */
    outline: 1px solid white;
    height: auto;
    background: rgb(221 251 171);
    border-radius: 10px;
}

.container-con-aside{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 0.4fr;
}
.i{
    width: 100%;
}
.d {
    width: 100%;
    justify-self: right;
}
.aside-titulo {
    text-align: center;
    font-size: x-large;
    margin-top: 0px;
}
.aside-preguntas{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    height: inherit;
    gap: 69px;
}
.aside-div-pregunta{
    text-align-last: center;
    display: flex;
    text-align: justify;
}
.aside-pregunta{
    font-family: var(--font1);
}