@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lato:ital@1&family=Merienda:wght@500&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bentham&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

:root {
  --border-radius: 12px;
  --font: 'Belleza', sans-serif;
  --font2: 'Montserrat', sans-serif;
  --font3: 'Raleway', sans-serif;
  --font4: 'Lora', serif;
  --font5: 'Bentham', serif;
  --font6: 'Josefin Sans', sans-serif;
}
/* .naranja{
    text-shadow: 0px 0px 1px #ee5252;
    color: rgb(0, 0, 0);
} */
/* .granada{
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px red;
} */
.one{
    background-color: rgb(253 202 225);
    text-shadow: 0px 0px 0px rgb(0 0 0);
    color: rgb(0 0 0);
}
.two{
    background-color:rgb(97, 247, 255);
    color: rgb(0, 0, 0);
}
.mask-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.mask-titulo-container{
    text-align: center;
}
.mask-main-title{
    font-size: 40px;
}
.icono{
    width: 6%;
    height: auto;
}   
.image-brillo1 {
    width: 6%;
    height: auto;
    transform: scaleX(-1);
}
.image-brillo2 {
    width: 6%;
    height: auto;
}
.mask-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.mask-card {
    display: flex;
    padding: 0px;
    /* width: 29%; */
    /* height: auto; */
    /* background: #96ffff; */
    flex-wrap: nowrap;
    flex-direction: row;
    border-radius: 13px;
    align-items: center;
    margin: 10px;
    height: auto;
    width: 949px;
}
.mask-container-img {
    /* width: 100%; */
    /* height: 100%; */
    /* text-align: center; */
    /* object-fit: none; */
    height: 230px;
    width: auto;
    float: left;
}

.mask-image {
    width: inherit;
    height: inherit;
    border-radius: 10px;
    /* height: 420px; */
    /* width: 327px; */
    /* float: left; */
}
.mask-text-container {
    padding: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    /* align-content: center; */
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}
.mask-titulo {
    display: flex;
    font-family: var(--font5);
    text-align: center;
    width: 50%;
    font-size: 30px;
    /* background: #8bffd3; */
    border-radius: 20px;
    margin: 5px 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.mask-main-beneficio{
    /* background: aquamarine; */
    width: 40%;
    border-radius: 10px;
    text-align: center;
    font-size: 25px;
    margin: 15px 0;
}
.mask-beneficio{
    font-size: 20px;
    font-family: var(--font6);
    font-weight: 600;
    margin: 11px;
}
.kiwi{
    background-color: rgb(197 231 115);;
}

.granada{
    background-color: rgb(255 150 174);
}

.manzana{
    background-color: rgb(200 255 169);
}

.naranja{
    background-color: rgb(255 202 129);
}
.blueberry{
    background-color: rgb(175 198 255);
}
