@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

:root{
    --font1: 'Lexend', sans-serif;
}

nav{
  display: flex;
  width: 100%;
  height: 50px;
  /* margin: 0; */
  /* padding-left: 30px; */
  /* padding-top: 5px; */
  /* border: 1px solid slateblue; */
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
}

.toggle-container {
  display: flex;
  gap: 10px;
  margin-top: 0px;
  flex-wrap: nowrap;
  z-index: 20;
  position: fixed;
  top: 0px;
  left: 0px;
  flex-direction: row;
  padding: 10px;
}

.toggle-category {
  font-family: var(--font1);
  display: flex;
  gap: 5px;
  font-size: 21px;
  width: 150px;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-around;
  flex-direction: column;
  height: inherit;
  cursor: pointer;
}

.toggle-ul-mascarillas{
  font-family: var(--font1);
  background: #efefef;
  list-style: none;
  height: 204px;
  margin-top: 50px;
  padding-left: 0px;
  position: absolute;
  top: 11px;
  left: 35px;
  display: flex;
  gap: 5px;
  font-size: 21px;
  width: 150px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
}
.toggle-ul-productos{
  font-family: var(--font1);
  background: #efefef;
  list-style: none;
  height: 204px;
  margin-top: 50px;
  padding-left: 0px;
  position: absolute;
  top: 11px;
  left: 208px;
  display: flex;
  gap: 5px;
  font-size: 21px;
  width: 150px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
}
.toggle-li{
  font-family: var(--font1);
  list-style: none;
  margin-left: 0px;
}
.subtoggle-ul-productos{
  font-family: var(--font1);
  background: #efefef;
  list-style: none;
  height: 204px;
  margin-top: 50px;
  padding-left: 0px;
  position: absolute;
  top: 90px;
  left: 150px;
  display: flex;
  gap: 5px;
  font-size: 21px;
  width: 150px;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
}
.toggle-category a {
  font-family: var(--font1);
  margin: 0;
  padding: 10px;
  background-color: #eee;
  cursor: pointer;
  font-size: 20px;
  border-radius: 10px;
}

.toggle-category a:hover {
  background-color: #ddd;
}

.toggle-subcategories,
.toggle-sub-subcategories {
  font-family: var(--font1);
  list-style-type: none;
  padding: 0;
  /* margin-left: 40px; */
  width: -webkit-fill-available;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

/* .toggle-subcategories li,
.toggle-sub-subcategories li {
  margin: 0;
  padding: 10px;
  background-color: #ddd;
  cursor: pointer;
  font-weight: bold;
  width: auto;
} */

/* .toggle-subcategories li:hover,
.toggle-sub-subcategories li:hover {
  background-color: #ccc;
} */

.toggle-sub-subcategories {
  font-family: var(--font1);
  list-style-type: none;
  padding: 0;
  /* margin-left: 40px; */
  width: -webkit-fill-available;
  height: 50px;
  font-size: 15px;
  font-weight: bold;
}
